//ABSTRACT
@import './abstract/mixins';
@import './abstract/variables';


//COMPONENTS
@import './components/formSearch';
@import './components/profilePhoto';
@import './components/dropdown-nav';
@import './components/menu-games';
@import './components/game';
@import './components/modalgame';
@import './components/filtro';
@import './components/loginForm';
@import './components/cartGame';
@import './components/famous-games';
@import './components/carousel';

//LAYOUT
@import './layout/header';
@import './layout/navigator';
@import './layout/footer';


//PAGES
@import './pages/cartPage';
@import './pages/error';
@import './pages/games';
@import './pages/home';
@import './pages/login';
@import './pages/register';
@import './pages/user';


html{
    width: 100%;
        height: 100%;

    body{
        margin: 0;
        width: 100%;
        height: 100%;
    
        #root{
            width: 100%;
            height: 100%;

            .app{
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 140px 70px 1fr 250px;
            }
        }
    }
}