.game-page{
    @include margin(20px, 50px, 0, 0);

    .game-article{
        display: grid;
        grid-template-columns: 277px 1fr;
        grid-template-rows: 100px 1fr;

        .section-games{
            
            .test{
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            }

            .button-view{
                justify-self: center;
                @include dimension(40px, 40px);
                @include color(transparent, $blue-color);
                @include margin(20px, 0, 50%, 0);
    
                &:hover{
                    @include color(transparent, $gold-color);
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and(max-width:620px){
    
    .game-page{

        .game-article{
            @include display (flex, column, center, center);

            .section-games{
                @include margin(0, 30px, 0, 0);
            }
        }
    }
}