.home-page{
   
    article{
        @include display (flex, column, center, center);
        @include dimension(100%, auto);

        .title-section{
            @include margin(50px, 50px, 0, 0);
            @include color(transparent, $primary-red-color);
            @include font(40px, $bold);
        }

        .famous-container{
            @include dimension(100%, auto);
            @include display (flex, column, center, center);
            background-image: url('../../assets/Switch.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .contact{
            @include dimension(100%, 300px);
            @include display(flex, row, space-evenly, center);
            background-image: url('../../assets/background.png');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;

            h2{
                @include font(24px, $bold);
            }

            input{
                @include dimension(200px, 50px);
                @include color($primary-red-color, $white-color);
                @include border(0px, solid, transparent);
                @include border-radius(5px, 5px, 5px, 5px);
                @include font(24px, $bold);

                &:hover{
                    @include color($gold-color, $white-color);
                }
            }
        }
    }
}

@media screen and(max-width: 600px){
    
    .home-page{
   
        article{
    
            .title-section{
                @include font(30px, $bold);
            }

            .contact{
                @include display(flex, column, space-evenly, center);
            }
        }
    }
}