//COLORS

$white-color: white;
$black-color: black;
$primary-gray-color: gray;
$secondary-gray-color: #E7E7E7;
$primary-red-color: #E21616;
$secondary-red-color: #FF3333;
$primary-magento-color: #860000;
$secondary-magento-color: #610000;
$blue-color: #13CCB8;
$gold-color: #FFBB65;


//FONT-WEIGHT

$light: 300;
$bold: 700;
$extra-bold: 800;