.search-game{
    
    .input-text{
        @include display(flex, row, center, center);
        
        .input-search{
            @include dimension(300px, 40px);
            @include padding(0, 0, 10px, 0);
            border-left: 1px solid $black-color;
            border-bottom: 1px solid $black-color;
            border-top: 1px solid $black-color;
            border-right: 0px solid $black-color;
    
            &:focus{
                box-shadow: 0 0 0 0;
                outline: 0;
            }
        }
        
        svg{
            @include dimension(auto, 40px);
            @include padding(5px, 5px, 0, 5px);
            border-right: 1px solid $black-color;
            border-bottom: 1px solid $black-color;
            border-top: 1px solid $black-color;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media screen and(max-width:980px){
    .search-game{
        
        .input-search{
            @include dimension(200px, 30px);
        }
    }
}

@media screen and(max-width:980px){
    .search-game{
        @include display(none, row, center, center);
    }
}