.game{
    @include dimension(200px, 400px);
    @include border(1px, solid, $black-color);
    @include display(flex, column, start, center);
    @include margin(20px, 0, 0, 0);

    .img{
        @include dimension(auto, 200px);
        background-color: red;
    }

    .title{
        @include dimension(auto, 90px);
        @include font(18px, $bold);
        @include color(transparent, $primary-red-color);
        @include text(center, none);
        @include margin(0, 0, 0, 0);
    }

    .new-price{
        @include font(18px, $bold);
    }

    .old-price{
        @include font(14px, $light);
        transform: translateY(-10px);
        text-decoration: line-through;
    }

    .buttons-game{
        @include display(flex, row, center, center);
        transform: translateY(-10px);

        input{
            @include border(0px, solid, transparent);
            @include color($blue-color, $white-color);
            @include margin(0, 0, 0, 20px);

            &:hover{
                @include color($gold-color, $white-color);
            }
        }

        svg{
            @include dimension(24px, 24px);
            @include color(transparent, $blue-color);

            &:hover{
                @include color(transparent, $gold-color);
                cursor: pointer;
            }
        }
    }
}