.menu-games{
    @include margin(0, 0, 30px, 0);
    @include padding(0, 0, 20px, 20px);
    @include display(flex, row, space-between, center);
    border-bottom: 1px solid $primary-gray-color;

    .grid-list{

        svg{
            @include dimension(25px, 25px);
            @include margin(0, 0, 0, 10px);
            @include color(transparent, $blue-color);

            &:hover{
                @include color(transparent, $gold-color);
                cursor: pointer;
            }
        }
    }
}

@media screen and(max-width: 620px){
    
    .menu-games{
        @include dimension(80%, auto);
        @include margin(0, 0, 0, 0);
        border-bottom: 0px solid $primary-gray-color;
    }
}