.navigator-page{
    @include color($secondary-gray-color, $black-color);
    @include display(flex, row, center, center);
    
    .nav-menu{
        @include dimension(400px, auto);
        @include display(flex, row, space-evenly, center);
        align-self: center;
        list-style: none;

        a{
            text-decoration: none;
        }
    }

    .chart{
        @include margin(0, 0, auto, 100px);
        position: relative;
        text-decoration: none;
    }
}